* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  --main-bg: #222831;
  --secondary-bg: #393e46;
  --highlight: #00adb5;
  --text: #eeeeee;
  --header-height: 100px;
  --aside-width: 300px;
  --column-width: 300px;
}

header {
  width: 100vw;
  height: var(--header-height);
  background: var(--text);
  color: var(--highlight);
  display: flex;
  align-items: center;
  position: absolute;
  position: fixed;
  z-index: 10000;
}

header h1 {
  display: flex;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
}

header h2 {
  display: flex;
  margin-left: 80px;
  font-family: 'Pacifico', cursive;
  font-size: 1em;
  color: var(--main-bg);
}

header #search {
  width: 200px;
  font-size: 20px;
  line-height: 24px;
  margin-left: 20px;
  border: none;
  outline: none;
}

aside {
  float: left;
  height: calc(100vh - var(--header-height));
  width: var(--aside-width);
  background: var(--secondary-bg);
  color: var(--text);
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: var(--header-height);
}

aside button {
  line-height: 32px;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  outline: none;
  background-color: var(--text);
  border-radius: 5px;
}

aside button.selected {
  background-color: var(--highlight);
  color: var(--text);
}

.main-view {
  float: right;
  width: calc(100vw - var(--aside-width));
  margin-top: var(--header-height);
}
.search-tags {
  display: inline-block;
}

.tag-filter-container {
  width: 53vw;
  overflow: scroll;
  height: calc(var(--header-height) - 10px);
  border-style: dashed;
  border-width: 1px;
  border-color: grey;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 15px;
}

.tag-filter-container .tag {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height: 30px;
}

.selected-tag {
  color: black !important;
}

.recipe-holder {
  columns: var(--column-width);
  background: var(--main-bg);
  color: var(--text);
  min-height: calc(100vh - var(--header-height));
  padding: 20px;
}

.card {
  display: inline-block;
  background-color: var(--text);
  color: var(--main-bg);
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card.favorite .favorite-icon {
  fill: red;
  width: 30px;
}

.card.favorite .favorite-icon>path {
  stroke: black;
  stroke-width: 2px;
  stroke-linejoin: round;
}

.card.to-cook {
  border: 5px solid var(--highlight);
}

.card-image {
  overflow: hidden;
  position: relative;
}

.card-image>svg {
  position: absolute;
  top: 10px;
  right: 10px;
  fill: #00000000;
}

.card img {
  z-index: -1000;
  width: 100%;
  height: 250px;
  object-fit: cover;
  background: #00000000;
  /* mix-blend-mode: screen; */
  transition: transform 0.3s, background 0.3s;
}

.card:hover img {
  transform: scale(1.05);
  background: #000000ee;
}

.tag-list {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tag {
  color: rgb(254, 254, 254);
  margin: 2px;
  border-radius: 2px;
  padding: 3px 5px;
  display: inline-block;
}

.pantry-holder {
  height: 70%;
  display: inline-block;
  position: relative;
  padding: 10px 5px 5px 5px;
  margin-top: 10px;
  border: solid;
  border-color: white;
  border-radius: 10px;
  background-color: var(--main-bg);
}

.pantry-holder h1 {
  position: sticky;
  display: inline-block;
}

.pantry-items {
  overflow: scroll;
  height: 90%;
  width: 100%;
  display: inline-block;
  position: relative;
  top: 10px;
  color: white;
}
.pantry-recipe-display {
  margin-top: 15px;
  margin-bottom: 15px;
}
.pantry-recipe-display ul {
  list-style-type: none;
}
.cook-button {
  width: 80%;
}
.recipe-overlay {
  position: fixed;
  top: var(--header-height);
  left: var(--aside-width);
  width: calc(100vw - var(--aside-width));
  height: calc(100vh - var(--header-height));
  background: #00000055;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-view {
  position: absolute;
  width: 85%;
  height: 80%;
  background-color: var(--text);
  border-radius: 10px;
  padding: 10px;
  overflow: scroll;
}

.recipe-view-options {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.recipe-view-options div {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}

.recipe-view-options button {
  border: 2px solid black;
  border-radius: 100000px;
  background: none;
  color: var(--secondary-bg);
  line-height: 30px;
  font-size: 30px;
  width: 40px;
  height: 40px;
  padding-top: 3px;
}

.recipe-view-options button.button-applied {
  background-color: black;
  fill: white;
}

.recipe-view-options button~label {
  align-self: center;
  padding-right: 5px;
  opacity: 0;
}

.recipe-view-options button:hover~label {
  opacity: 1;
  transition: opacity 0.1s;
}

.recipe-view-options svg {
  width: 18px;
}

.recipe-view h2 {
  text-align: center;
  margin: 5px 0 15px;
}

.recipe-view img {
  display: block;
  margin: 0 auto 30px;
  height: 50%;
}

.recipe-view hr {
  margin: 10px 0;
}

.recipe-view ul {
  columns: 2;
  margin-left: 20px;
}

.recipe-view ol {
  margin-left: 20px;
}

.recipe-view ol li {
  margin: 5px 0;
}

.hidden {
  display: none;
}
