* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  --main-bg: #222831;
  --secondary-bg: #393e46;
  --highlight: #00adb5;
  --text: #eeeeee;
  --header-height: 100px;
  --aside-width: 300px;
  --column-width: 300px;
}

header {
  width: 100vw;
  height: var(--header-height);
  background: var(--text);
  color: var(--highlight);
  text-align: center;
  position: fixed;
  z-index: 10000;
}

header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
}

header #search {
  width: 200px;
  font-size: 20px;
  line-height: 24px;
  border: none;
  outline: none;
}

aside {
  float: left;
  height: calc(100vh - var(--header-height));
  width: var(--aside-width);
  background: var(--secondary-bg);
  color: var(--text);
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: var(--header-height);
}

aside button {
  line-height: 32px;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  outline: none;
  background-color: var(--text);
  border-radius: 5px;
}

aside button.selected {
  background-color: var(--highlight);
  color: var(--text);
}

.main-view {
  float: right;
  width: calc(100vw - var(--aside-width));
  margin-top: var(--header-height);
}

.recipe-holder {
  columns: var(--column-width);
  background: var(--main-bg);
  color: var(--text);
  min-height: calc(100vh - var(--header-height));
  padding: 20px;
}

.card {
  display: inline-block;
  background-color: var(--text);
  color: var(--main-bg);
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-image {
  overflow: hidden;
}

.card img {
  z-index: -1000;
  width: 100%;
  height: 250px;
  object-fit: cover;
  background: #00000000;
  /* mix-blend-mode: screen; */
  transition: transform 0.3s, background 0.3s;
}

.card:hover img {
  transform: scale(1.05);
  background: #000000ee;
}

.tag-list {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tag {
  color: rgb(254, 254, 254);
  margin: 2px;
  border-radius: 2px;
  padding: 3px 5px;
  display: inline-block;
}

.recipe-overlay {
  position: fixed;
  top: var(--header-height);
  left: var(--aside-width);
  width: calc(100vw - var(--aside-width));
  height: calc(100vh - var(--header-height));
  background: #00000055;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-view {
  width: 85%;
  height: 80%;
  background-color: var(--text);
  border-radius: 10px;
  padding: 10px;
  overflow: scroll;
}

.recipe-view h2 {
  text-align: center;
  margin: 5px 0 15px;
}

.recipe-view img {
  display: inline-block;
  margin: 0 auto;
}

.recipe-view hr {
  margin: 10px 0;
}

.recipe-view ul {
  columns: 2;
  margin-left: 20px;
}

.recipe-view ol {
  margin-left: 20px;
}

.recipe-view ol li {

}

.hidden {
  display: none;
}